{% extends 'base.html' %}

{% block main %}
    <h1>Книги</h1>
    <table class="table" id="books-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Page count</th>
                <th>Date of publication</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.page_count }}</td>
                    <td>{{ book.pub_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr/>
    {% include 'api/book/form.html' %}
{% endblock %}