<h2>Add book</h2>
<form action="{{ url_for('api.book') }}" method="post" id="form-book-add">
    {% for name, field in form._fields.items() %}
        <div class="form-group" data-field="{{ name }}">
            {{ field.label }}
            {{ field(class='form-control') }}
            <p class="text-danger" style="display: none;"></p>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Send</button>
</form>